@media (max-width: 800px) {
    body {
<<<<<<< HEAD
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        display: flex;
=======
        margin-left: 0;
        margin-right: auto;
        margin-top: auto;
        display: flex;
        justify-content: center;
>>>>>>> 6988b9ba7c572059f4c5f8ea54f77d4ee89bba01
        flex-direction: column;

        .loginContainer {
            margin: 100px;
            grid-template-columns: 1fr;
<<<<<<< HEAD
=======
            justify-content: center;
>>>>>>> 6988b9ba7c572059f4c5f8ea54f77d4ee89bba01

            img {
                display: none;
            }

        }

<<<<<<< HEAD
        .backButtonContainer {

            margin-left: 100px;
            margin-right: auto;
    
        }

    }
    h1{
        font-size: 5vw !important;
    }

    
=======
    }



    .backButtonContainer {
        margin-left: 100px !important;
        margin-right: auto;

    }
>>>>>>> 6988b9ba7c572059f4c5f8ea54f77d4ee89bba01

    .form-control {
        width: auto;
    }

    .was-validated {
        .btn {
            width: auto;
        }
    }
}