@media (max-width: 800px) {
    body{
        margin-left: 0;
        margin-right: auto;
        margin-top: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    .loginContainer {
        margin: 100px !important;
        grid-template-columns: 1fr !important;
        justify-content: center;
        img {
            display: none;
        }

    }

    .backButtonContainer {
        margin-left: 100px !important;
        margin-right: auto;
        
    }
    .form-control{
        width: auto;
    }
    .was-validated{
        .btn{
            width: auto;
        }
    }
}