.detail_rating
  display: flex
  flex-direction: row
  align-items: center
  align-content: center
  cursor: pointer
  span.active
    color: yellow

.detail_score
  display: flex
  align-content: center
  align-items: center
  margin-right: auto
  margin-left: 20px
  h2
    padding: 0
    margin: 0

.detail_yellow_bold
  font-weight: bold
  color: orange

.detail_list_title
  h6
    margin-top: 5px
    margin-bottom: 5px
    font-weight: bold
    width: 110px

.detail_list_content
  margin-left: 0
  margin-right: auto
  display: flex
  flex-direction: column
  h6
    margin-top: 5px
    margin-bottom: 5px

.detail_intro_content
  overflow: auto
  height: 33%
  width: 90%
  margin: auto auto auto auto
  display: flex
  flex-direction: column
  h4
    font-weight: bold
    margin-top: 12px
    margin-bottom: 12px
    display: flex
    height: 40px
    align-items: center


@media (max-width: 800px)
  .list-group-item.d-flex.justify-content-between.align-items-center.Detail0
    padding: 1px
    margin: 0
    h1
      font-size: 23px
    h6
      font-size: 12px
  .detail_rating.Detail0
    span
      font-size: 28px
  .detail_score.Detail0
    span
      font-size: 22px
    .detail_yellow_bold
      font-size: 25px



