%align
  align-items: center
  align-content: center
%justi
  justify-content: center
  justify-items: center

%alignedwidth_center
  width: 60%
  margin-left: auto
  margin-right: auto
.detail_breadcrumb_container
  @extend %alignedwidth_center
  height: 50px
  margin-top: 2px
  display: flex
  @extend %align

.detail_pic_rate_container
  @extend %alignedwidth_center
  margin-top: 5px
  height: 450px
  display: flex

.detail_intro_container
  @extend %alignedwidth_center
  margin-top: 30px
  height: 600px
  display: flex

.detail_carousel_container
  width: 48%
  height: 85%
  margin-top: auto
  margin-bottom: auto
  margin-left: 3%
