body.detail_body .detail_main_container {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_breadcrumb_container {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_pic_rate_container {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_pic_rate_container .detail_carousel_container {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_pic_rate_container .detail_rate_info_container {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_intro_container {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_intro_container .detail_intro_content {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_intro_container .detail_intro_content2 {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_comment_container {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_comment_container .detail_comment_contents {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_comment_container .detail_comment_contents .detail_comments_item_container {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_comment_container .detail_comment_contents .detail_comments_item_container .detail_comment_icon {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_comment_container .detail_comment_contents .detail_comments_item_container .detail_comment_name {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_comment_container .detail_comment_contents .detail_comments_item_container .detail_comment_rate {
  border: solid 1px black;
  border-radius: 8px;
}
body.detail_body .detail_comment_container .detail_comment_contents .detail_comments_item_container .detail_comment_text {
  border: solid 1px black;
  border-radius: 8px;
}

.detail_list_title h6 {
  border: solid 1px 0px;
  border-radius: 8px;
}

.detail_breadcrumb_container {
  align-items: center;
  align-content: center;
}

.detail_breadcrumb_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  margin-top: 2px;
  display: flex;
}

.detail_pic_rate_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: 450px;
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.detail_intro_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-height: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.detail_rate_info_container, .detail_carousel_container {
  width: 48%;
  height: 85%;
  margin: auto auto auto 20px;
}

.detail_carousel_container {
  width: 43%;
  margin-left: 5%;
  margin-right: auto;
}

.detail_rate_info_container {
  width: 43%;
  margin-left: auto;
  margin-right: 5%;
}

.detail_comment_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-height: 900px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .detail_intro_container, .detail_comment_container {
    margin-top: 15px;
  }
  .detail_pic_rate_container {
    flex-direction: column;
    height: auto;
  }
  .detail_pic_rate_container .detail_carousel_container {
    height: auto;
    width: 90%;
    margin: 5px auto 0 auto;
    max-width: 600px;
  }
  .detail_pic_rate_container .detail_rate_info_container {
    width: 90%;
    margin: 10px auto auto auto;
  }
}
.detail_comments_item_container {
  display: flex;
  flex-direction: row;
  padding: 2px;
  height: auto;
  max-height: 250px;
  width: 100%;
  margin: 2px auto 1.5px auto;
}

@media (max-width: 800px) {
  .detail_breadcrumb_container, .detail_pic_rate_container, .detail_intro_container, .detail_comment_container {
    width: 90%;
  }
  .detail_intro_container, .detail_comment_container {
    margin-top: 5px;
  }
  .detail_breadcrumb_container {
    height: 23px;
  }
  .detail_comment_container {
    max-height: 400px;
  }
}
.detail_breadcrumb_container.Detail0 nav.Detail0, .detail_breadcrumb_container.Detail0 ol, .detail_breadcrumb_container.Detail0 li {
  align-items: center;
  align-content: center;
}

.breadcrumb.Detail0 a {
  font-weight: bold;
}

.breadcrumb.Detail0 a {
  text-decoration-line: none;
}

.detail_breadcrumb_container.Detail0 nav.Detail0, .detail_breadcrumb_container.Detail0 ol, .detail_breadcrumb_container.Detail0 li {
  display: flex;
  text-align: center;
}
.detail_breadcrumb_container.Detail0 ol {
  margin: 0;
}

.carousel.slide.Detail0 {
  height: 100%;
  width: 100%;
}

.carousel-inner.Detail0 {
  height: 100%;
}

.list-group-item.d-flex.justify-content-between.align-items-center.Detail0 {
  padding-right: 0;
  align-items: unset !important;
}

.accordion-collapse.collapse.show.Detail0 {
  height: auto;
  flex: 1;
  overflow: auto;
}

.detail_intro_content2 .accordion.Detail0 {
  max-height: 250px;
  height: auto;
  flex: 1;
}

.detail_intro_content .accordion.Detail0 {
  max-height: 140px;
  height: auto;
  flex: 1;
}

.detail_intro_content2 .accordion-item.Detail0 {
  max-height: 250px;
  display: flex;
  flex-direction: column;
}

.detail_intro_content .accordion-item.Detail0 {
  max-height: 140px;
  display: flex;
  flex-direction: column;
}

.detail_intro_content2 .accordion-body {
  flex: 1;
  overflow: auto;
  height: auto;
}

.detail_intro_content .accordion-body {
  flex: 1;
  overflow: auto;
  height: auto;
}

.accordion-button.Detail0 {
  font-size: 23px;
  font-weight: bold;
  padding: 4px;
  align-items: center;
  align-content: center;
}

@media (max-width: 800px) {
  .accordion-body.Detail0 {
    font-size: 13px;
  }
  .accordion-button.Detail0 {
    font-size: 16px;
  }
}
.detail_rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  cursor: pointer;
}
.detail_rating span.active {
  color: yellow;
}

.detail_score {
  display: flex;
  align-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: 20px;
}
.detail_score h2 {
  padding: 0;
  margin: 0;
}

.detail_yellow_bold {
  font-weight: bold;
  color: orange;
}

.detail_list_title h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  width: 110px;
}

.detail_list_content {
  margin-left: 0;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.detail_list_content h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.detail_intro_content {
  overflow: hidden;
  height: auto;
  max-height: 140px;
  width: 90%;
  margin: 0.5% auto 1% auto;
  display: flex;
  flex-direction: column;
}

.detail_intro_content2 {
  overflow: hidden;
  max-height: 250px;
  height: auto;
  width: 90%;
  margin: 1.5% auto 0.5% auto;
  display: flex;
  flex-direction: column;
}

.detail_comment_head {
  margin: 1.5% auto 0.5% auto;
  width: 90%;
  height: 40px;
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.detail_comment_contents {
  width: 90%;
  max-height: 600px;
  height: auto;
  margin: 0.5% auto 0.5% auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.detail_comment_c2 {
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
}

.detail_comment_icon {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.detail_comment_name {
  height: 45px;
  width: 120px;
}

.detail_comment_rate {
  height: 45px;
  width: 100%;
  margin-left: 5px;
}

.detail_comment_text {
  display: flex;
  flex: 1;
  min-height: 110px;
  width: 100%;
  height: auto;
  max-height: 290px;
  margin-left: 5px;
}

.detail_comment_text p {
  flex: 1;
  overflow: hidden;
}

@media (max-width: 800px) {
  .list-group-item.d-flex.justify-content-between.align-items-center.Detail0 {
    padding: 1px;
    margin: 0;
  }
  .list-group-item.d-flex.justify-content-between.align-items-center.Detail0 h1 {
    font-size: 23px;
  }
  .list-group-item.d-flex.justify-content-between.align-items-center.Detail0 h6 {
    font-size: 12px;
  }
  .detail_rating.Detail0 span {
    font-size: 28px;
  }
  .detail_score.Detail0 span {
    font-size: 22px;
  }
  .detail_score.Detail0 .detail_yellow_bold {
    font-size: 25px;
  }
  .detail_comment_head {
    font-size: 16px;
    margin-top: 0.5%;
  }
  .detail_comment_icon {
    margin-right: 10px;
    height: 80px;
    width: 80px;
  }
  .detail_comment_name {
    width: 90px;
  }
  .detail_comment_rate {
    height: 30px;
  }
  .detail_comment_c2 {
    width: calc(100% - 100px);
  }
}
.detail_main_container, body.detail_body {
  padding: 0;
  margin: 0;
}

.detail_main_container {
  --screenwith: 0;
  height: 2000px;
  width: 100%;
  overflow: hidden;
  background-color: #B7C9E1;
}

/*# sourceMappingURL=detail_main.css.map */
