<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Detail
    </title>
    <script src="https://kit.fontawesome.com/d808e8fc52.js" crossorigin="anonymous"></script>
    <link rel="icon" href="img/favico.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="sass/detail_main.css">
    <link rel="stylesheet" href="css/home-zjm.css" />
</head>

<body class="detail_body">


    <div class="navbar-zjm">
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand me-4" href="homepage.html"><img src="img/favicon(1).png" alt="favicon" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 me-1">
                        <li class="nav-item me-5">
                            <a class="nav-link active fs-5 fw-bold" aria-current="page"
                                href="homepage.html">Homepage</a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link fs-5 fw-bold" href="#">About</a>
                        </li>
                        <li class="nav-item dropdown me-5">
                            <a class="nav-link dropdown-toggle fs-5 fw-bold" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Details
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="nav-item me-5">
                  <a class="nav-link disabled fs-4 fw-bold" aria-disabled="true"
                    >Contact</a
                  >
                </li> -->
                    </ul>
                    <!-- 现有的搜索输入框 -->

                    <form class="d-flex" role="search">
                        <div class="input-group">
                            <input type="search" class="form-control me-0 search-form" placeholder="Search..."
                                aria-label="Search" style="width: auto" />
                            <!-- 添加搜索按钮 -->
                            <button class="btn btn-outline-secondary search-button" type="button" id="button-addon2">
                                Search
                            </button>
                        </div>
                    </form>

                    <div class="dropdown mr-3 nav-profile">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="img/dt.jpg" alt="mdo" width="50" height="50" class="rounded-circle" />
                            Profile
                        </a>
                        <ul class="dropdown-menu text-small custom-dropdown-profile">
                            <li>
                                <a href="#"
                                    class="d-block link-body-emphasis text-decoration-none dropdown-item-avatar">
                                    <img src="img/dt.jpg" alt="mdo" width="38" height="38" class="rounded-circle" />
                                    LOGIN / SIGN UP
                                </a>
                            </li>

                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"> My favorite</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"> Footprint</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"> Schedule</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"> Settings</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"> LOGOUT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="detail_main_container">
        <div class="detail_breadcrumb_container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
            </nav>
        </div>
        <div class="detail_pic_rate_container">
            <div class="detail_carousel_container">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/p1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/p2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/p3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="detail_rate_info_container">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h1 style="font-weight: bold" class="title">Trinity Church</h1>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="detail_rating" style="font-size: 35px">
                            <span data-value="1" class="active">★</span>
                            <span data-value="2" class="active">★</span>
                            <span data-value="3" class="active">★</span>
                            <span data-value="4" class="active">★</span>
                            <span data-value="5">☆</span>
                        </div>
                        <div class="detail_score">
                            <h2><span class='detail_yellow_bold'>4.0</span><span style='font-size: 20px'>/5.0</span>
                            </h2>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="detail_list_title">
                            <h6>Location</h6>
                        </div>
                        <div class="detail_list_content loc">
                            <h6>206 Clarendon Street, Boston, MA, 02216</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="detail_list_title">
                            <h6>Open Time</h6>
                        </div>
                        <div class="detail_list_content time">
                            <h6>From 10.00am to 18.00pm</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="detail_list_title">
                            <h6>Official Tel.</h6>
                        </div>
                        <div class="detail_list_content tel">
                            <h6>+1 617-516-0944</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="detail_intro_container">
            <div class="detail_intro_content2">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Introduction
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body intro">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail_intro_content">
                <div class="accordion" id="accordionPanelsStayOpenExample2">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Open Time
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                            <div class="accordion-body time">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail_intro_content">
                <div class="accordion" id="accordionPanelsStayOpenExample3">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseThree">
                                Tips
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                            <div class="accordion-body tips">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail_comment_container" id="comments">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{'评论title'}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{'评论内容'}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail_comment_head">Comments</div>
            <div class="spinner-border" role="status" v-if="loading">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="detail_comment_contents" v-else>
                <div class="detail_comments_item_container" v-for="(comment,index) in tarcomments">
                    <div class="detail_comment_c1">
                        <div class="detail_comment_icon">
                            <img :src="comment.avatar" style="height: 80%;width: 80%; margin: 10% 10% 10% 10%">
                        </div>
                        <div class="detail_comment_name" style="margin-left: 8%">
                            {{comment.reviewer_name}}
                        </div>
                    </div>
                    <div class="detail_comment_c2">
                        <h4 class="detail_comment_title">{{comment.review_title}}</h4>
                        <div class="detail_comment_rate">
                            <span v-for="n in 5" :key="n">
                                <span v-if="n <= comment.star_rating" style="color: orangered"
                                    class="detail_comment_rate_star">★</span>
                                <span v-else class="detail_comment_rate_star">☆</span>
                            </span>
                            <span class="detail_comment_rate_time"
                                style="margin-left: 20px">{{displayedReviewTime[index]}}</span>
                        </div>
                        <div class="detail_comment_text">
                            <p>
                                {{comment.detailed_review}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail_comment_input">
                <div class="detail_comment_input_text_container">
                    <textarea style="resize: none" class="detail_comment_textarea_title" name="comment_input"
                        placeholder="Comment Title"></textarea>
                    <textarea style="resize: none" class="detail_comment_textarea" name="comment_input"
                        placeholder="Leave your comments here"></textarea>
                </div>
                <div class="detail_comment_input_rate_button_container">
                    <div class="detail_input_start_container">
                        <span data-value="1" class="active">★</span>
                        <span data-value="2" class="active">★</span>
                        <span data-value="3" class="active">★</span>
                        <span data-value="4" class="active">★</span>
                        <span data-value="5">☆</span>
                    </div>
                    <button type="button" class="detail_comment_submit btn btn-primary" onclick="submitcomment()"
                        data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-align: center;padding: 0 0 0 0">Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/before_vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="/js/read_attraction.js"></script>
<script src="/js/read_comments.js"></script>
<script src="/js/detail.js"></script>